@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('assets/fonts/Open-Sans-300/Open-Sans-300.eot');
    src: url('assets/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Light'),
    local('Open-Sans-300'),
    url('assets/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
    url('assets/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
    url('assets/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
    url('assets/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.clear {
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

header {
    background: #444;
    color: #fff;
    margin: 0;
    border-collapse: collapse;
    overflow: hidden;
    padding: 0 20px 0 20px;
}
header h2 {
    font-weight: 300;
}
.icon-github {
    background: url(assets/GitHub-Mark-Light-32px.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 18px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.box {
    width: 50%;
    height: 50%;
    float: left;
}

/* Text fields */

#text-en, #text-nk {
    border: 1px solid #999;
    height: 300px;
    width: 495px;
    padding: 2px;
    overflow-y: auto;
}
#text-en {
    resize: none;
    font-size: 2em;
}
#text-nk {
    background: #e2e2e2;
}

/* Buttons */

#button-container {
    margin-top: 20px;
    text-align: center;
}
.button {
    margin: 5px;
    border: 1px solid #bbb;
    border-radius: 2px;
    background: #f2e8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #f2e8e8 0%, #e5d3d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2e8e8 0%,#e5d3d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2e8e8 0%,#e5d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e8e8', endColorstr='#e5d3d3',GradientType=0 ); /* IE6-9 */
}
.button.pressed {
    background: #e5d3d3; /* Old browsers */
    background: -moz-linear-gradient(top, #e5d3d3 0%, #f2e8e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5d3d3 0%,#f2e8e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5d3d3 0%,#f2e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d3d3', endColorstr='#f2e8e8',GradientType=0 ); /* IE6-9 */
}
.nnk {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    width: 20px;
}
.nk0, .nk1, .nk2, .nk3, .nk4,
.nk5, .nk6, .nk7, .nk8, .nk9,
.nka, .nkb, .nkc, .nkd, .nke,
.nkf, .nkg, .nkh, .nki, .nkj,
.nkk, .nkl, .nkm, .nkn, .nko,
.nkp, .nkq, .nkr, .nks, .nkt,
.nku, .nkv, .nkw, .nkx, .nky,
.nkz
{
    display: inline-block;
    background: url('assets/nks.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}
.nk0 { background-position: -0px -0px; width: 30px; height: 30px; }
.nk1 { background-position: -30px -0px; width: 30px; height: 30px; }
.nk2 { background-position: -60px -0px; width: 30px; height: 30px; }
.nk3 { background-position: -90px -0px; width: 30px; height: 30px; }
.nk4 { background-position: -120px -0px; width: 30px; height: 30px; }
.nk5 { background-position: -150px -0px; width: 30px; height: 30px; }
.nk6 { background-position: -0px -30px; width: 30px; height: 30px; }
.nk7 { background-position: -30px -30px; width: 30px; height: 30px; }
.nk8 { background-position: -60px -30px; width: 30px; height: 30px; }
.nk9 { background-position: -90px -30px; width: 30px; height: 30px; }
.nka { background-position: -120px -30px; width: 30px; height: 30px; }
.nkb { background-position: -150px -30px; width: 30px; height: 30px; }
.nkc { background-position: -0px -60px; width: 30px; height: 30px; }
.nkd { background-position: -30px -60px; width: 30px; height: 30px; }
.nke { background-position: -60px -60px; width: 30px; height: 30px; }
.nkf { background-position: -90px -60px; width: 30px; height: 30px; }
.nkg { background-position: -120px -60px; width: 30px; height: 30px; }
.nkh { background-position: -150px -60px; width: 30px; height: 30px; }
.nki { background-position: -0px -90px; width: 30px; height: 30px; }
.nkj { background-position: -30px -90px; width: 30px; height: 30px; }
.nkk { background-position: -60px -90px; width: 30px; height: 30px; }
.nkl { background-position: -90px -90px; width: 30px; height: 30px; }
.nkm { background-position: -120px -90px; width: 30px; height: 30px; }
.nkn { background-position: -150px -90px; width: 30px; height: 30px; }
.nko { background-position: -0px -120px; width: 30px; height: 30px; }
.nkp { background-position: -30px -120px; width: 30px; height: 30px; }
.nkq { background-position: -60px -120px; width: 30px; height: 30px; }
.nkr { background-position: -90px -120px; width: 30px; height: 30px; }
.nks { background-position: -120px -120px; width: 30px; height: 30px; }
.nkt { background-position: -150px -120px; width: 30px; height: 30px; }
.nku { background-position: -0px -150px; width: 30px; height: 30px; }
.nkv { background-position: -30px -150px; width: 30px; height: 30px; }
.nkw { background-position: -60px -150px; width: 30px; height: 30px; }
.nkx { background-position: -90px -150px; width: 30px; height: 30px; }
.nky { background-position: -120px -150px; width: 30px; height: 30px; }
.nkz { background-position: -150px -150px; width: 30px; height: 30px; }